<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.bootjava.palette.shop.mapper.ShopMapper">
	
	<select id="productSelectList" resultType="co.bootjava.palette.product.ProductVO">
		SELECT * FROM PRODUCT 
	</select>
		
	<select id="productSelect" resultType="co.bootjava.palette.product.ProductVO">
		SELECT * FROM PRODUCT
		WHERE PRODUCT_NUMBER = #{productNumber} 
	</select>
	
	<insert id="productInsert">
		INSERT INTO PRODUCT
		VALUES(TEST_SEQ.NEXTVAL, #{categoryCode}, #{productName}, #{productPrice},
		 #{productDesc}, 0, 0, SYSDATE, #{image})
	</insert>
	
	<delete id="productDelete">
		DELETE PRODUCT WHERE PRODUCT_NUMBER = #{productNumber}
	</delete>
	
	<update id="productUpdate">
		
	</update>
	
</mapper>